In [1]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
import os

/Users/carlahugod/Desktop/churn_model/.venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
path = kagglehub.dataset_download("blastchar/telco-customer-churn")

In [3]:
os.listdir(path)[1]

'WA_Fn-UseC_-Telco-Customer-Churn.csv'

In [4]:
with open(os.path.join(path,os.listdir(path)[1])) as f:
    df = pd.read_csv(f)

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
# Change yes to 1 and no to 0

df['Churn'] = df['Churn'].map( 
                   {'Yes':1 ,'No':0})
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [ ]:
# Change all yes in the dataframe to 1 and all no to 0

# TODO:
# Map all columns where the only answers are yes and no to 1 and 0

#df = df.replace(to_replace={'Yes':1, 'No':0, 'Male':1, 'Female':0})
df['Churn'] = df['Churn'].map({'Yes':1, 'No':0})

df.head()

/var/folders/1k/1vshdp_j5694gh8_n04plc2h0000gn/T/ipykernel_11916/2071745740.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(to_replace={'Yes':1, 'No':0, 'Male':1, 'Female':0})

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,DSL,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,DSL,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [8]:
df = pd.get_dummies(df, columns=['PaymentMethod'])
df.rename(columns=lambda x: x.replace("PaymentMethod_", ""), inplace=True)

# Convert only one-hot encoded columns to numerical format
one_hot_columns = df.select_dtypes(include=["bool"]).columns
df[one_hot_columns] = df[one_hot_columns].astype(int)

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,0,...,0,Month-to-month,1,29.85,29.85,0,0,0,1,0
1,5575-GNVDE,1,0,0,0,34,1,0,DSL,1,...,0,One year,0,56.95,1889.5,0,0,0,0,1
2,3668-QPYBK,1,0,0,0,2,1,0,DSL,1,...,0,Month-to-month,1,53.85,108.15,1,0,0,0,1
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,1,...,0,One year,0,42.30,1840.75,0,1,0,0,0
4,9237-HQITU,0,0,0,0,2,1,0,Fiber optic,0,...,0,Month-to-month,1,70.70,151.65,1,0,0,1,0

In [9]:
print(df.dtypes)

customerID                    object
gender                         int64
SeniorCitizen                  int64
Partner                        int64
Dependents                     int64
tenure                         int64
PhoneService                   int64
MultipleLines                 object
InternetService               object
OnlineSecurity                object
OnlineBackup                  object
DeviceProtection              object
TechSupport                   object
StreamingTV                   object
StreamingMovies               object
Contract                      object
PaperlessBilling               int64
MonthlyCharges               float64
TotalCharges                  object
Churn                          int64
Bank transfer (automatic)      int64
Credit card (automatic)        int64
Electronic check               int64
Mailed check                   int64
dtype: object

In [10]:
#" remove column customerID"
df = df.drop(columns=['customerID'])
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0,1,0,1,0,No phone service,DSL,0,1,...,0,Month-to-month,1,29.85,29.85,0,0,0,1,0
1,1,0,0,0,34,1,0,DSL,1,0,...,0,One year,0,56.95,1889.5,0,0,0,0,1
2,1,0,0,0,2,1,0,DSL,1,1,...,0,Month-to-month,1,53.85,108.15,1,0,0,0,1
3,1,0,0,0,45,0,No phone service,DSL,1,0,...,0,One year,0,42.30,1840.75,0,1,0,0,0
4,0,0,0,0,2,1,0,Fiber optic,0,0,...,0,Month-to-month,1,70.70,151.65,1,0,0,1,0

In [11]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [12]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0,1,0,1,0,No phone service,DSL,0,1,...,0,Month-to-month,1,29.85,29.85,0,0,0,1,0
1,1,0,0,0,34,1,0,DSL,1,0,...,0,One year,0,56.95,1889.50,0,0,0,0,1
2,1,0,0,0,2,1,0,DSL,1,1,...,0,Month-to-month,1,53.85,108.15,1,0,0,0,1
3,1,0,0,0,45,0,No phone service,DSL,1,0,...,0,One year,0,42.30,1840.75,0,1,0,0,0
4,0,0,0,0,2,1,0,Fiber optic,0,0,...,0,Month-to-month,1,70.70,151.65,1,0,0,1,0

In [14]:
import pickle
from sklearn.preprocessing import LabelEncoder

# Identify categorical columns (excluding the target variable)
object_cols = df.select_dtypes(include="object").columns.to_list()

# Dictionary to store label encoders
encoders = {}

# Apply label encoding to categorical features
for col in object_cols:
    label_encoder = LabelEncoder()
    df[col] = label_encoder.fit_transform(df[col])
    encoders[col] = label_encoder

# Save encoders to a pickle file
with open("encoders.pkl", "wb") as f:
    pickle.dump(encoders, f)

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['int', 'str']